{% extends '@base/feeds/items/item.twig' %}

{% block item %}
    {{ block('title') }}
    {% block guid %}
        <guid isPermaLink="false">{{ uuid }}</guid>
        <dcterms:identifier xsi:type="dcterms:uuid">{{ uuid }}</dcterms:identifier>
    {% endblock %}
    {{ block('permalink') }}
    {% block pubdate %}
        {% if is_updated %}<pubDate>{{ updated }}</pubDate>{% else %}<pubDate>{{ pubdate }}</pubDate>{% endif %}
    {% endblock %}
    <dcterms:publisher>{{ publisher }}</dcterms:publisher>
    {% block description %}
        <description><![CDATA[ {{ description|raw }} ]]></description>
    {% endblock %}
    <dcterms:accessRights>{{ access_rights|default('gratis') }}</dcterms:accessRights>
    <dcterms:format>text/html</dcterms:format>
    {% block authors %}
        {% for author in authors %}
            <dcterms:creator>{{ author.name }}</dcterms:creator>
        {% endfor %}
    {% endblock %}
    {{ block('category') }}
    {{ block('source') }}

    {% block images %}
        {% for image in images %}
            <media:content url="{{ image.src }}" type="{{ image.type|default('image/jpeg') }}">
                {% if image.photographer %}
                    <media:credit role="photographer" scheme="urn:ebu">{{ image.photographer }}</media:credit>
                {% endif %}
            </media:content>
        {% endfor %}
    {% endblock %}
    {% block tags %}
        {% if tags %}
            <media:keywords>{{ tags }}</media:keywords>
        {% endif %}
    {% endblock %}
    {% block media_content %}
        {% for content in media_content %}
            {% if content.type %}
                <media:content url="{{ content.url }}" type="{{ content.type }}">
                    {% if content.references %}
                        <dcterms:references>{{ content.references }}</dcterms:references>
                    {% endif %}
                </media:content>
            {% endif %}
        {% endfor %}
    {% endblock %}
{% endblock %}

