<item>
    {% block item %}

        {% if title %}
            {% block title %}<title>{{ title|raw }}</title>{% endblock %}
        {% endif %}

        {% if permalink %}
            {% block permalink %}<link>{{ permalink }}</link>{% endblock %}
        {% endif %}

        {% if description %}
            {% block description %}
                <description>{{ description|raw }}</description>{% endblock %}
        {% endif %}

        {% if authors %}
            {% block authors %}
                {% for author in authors %}
                    <author>{{ author.name }}</author>
                {% endfor %}
            {% endblock %}
        {% endif %}

        {% if category %}
            {% block category %}
                <category>{{ category }}</category>{% endblock %}
        {% endif %}

        {% if guid %}
            {% block guid %}
                <guid isPermaLink="{% if guid == permalink %}true{% else %}false{% endif %}">{{ guid }}</guid>{% endblock %}
        {% endif %}

        {% if pubdate %}
            {% block pubdate %}
                <pubDate>{{ pubdate }}</pubDate>
            {% endblock %}
        {% endif %}

        {% block source %}
            <source url="{{ self_link() }}">{{ get_bloginfo('name') }}</source>
        {% endblock %}

        {% if has_image %}
            {% block image %}
                {% for image in images %}
                    <media:content url="{{ image.src(500) }}" type="image/jpeg"></media:content>
                {% endfor %}
            {% endblock %}
        {% endif %}
    {% endblock %}
</item>