
/* Buttons */

.btn {
    cursor: pointer;
    font-weight: 600;
}

.btn-xs {
    font-size: .75rem;
    line-height: 1rem;
    padding: .25rem .75rem;
}

.btn--plus {
    background-color: $color-plus;
    color: $white;

    &:hover {
        color: $white;
        background-color: darken($color-plus, 5%);
    }
}

.btn--secondary {
    background-color: $color-plus;
    color: $white;

    &:hover {
        color: $white;
        background-color: darken($color-plus, 5%);
    }
}

