.icon {
    vertical-align: middle;
    fill: currentColor;
    padding-bottom: 3px;
}

.icon-xxs {
    width: $font-size-sm;
    height: $font-size-sm;
}

.icon-xs {
	width: $font-size-base;
	height: $font-size-base;
}

.icon-sm {
    width: $font-size-lg;
    height: $font-size-lg;
}

.icon-lg {
    width: $h3-font-size;
    height: $h3-font-size;
}