
/* Navigation toggle button */

.nav-toggle-btn {
    width: 50px;
    height: 45px;
    border: 1px solid $gray-200;
    border-bottom-width: 0;
    border-top: 0;
    border-right: 0;
    background-color: $gray-100;
	box-shadow: inset -2px -1px 0px -1px $gray-200;
	transition: all .35s ease-in-out;
	border-bottom: 1px solid $gray-600;
	cursor: pointer;

	@supports (-webkit-overflow-scrolling: touch) {
		/* CSS specific to iOS devices */ 
		width: 58px;
		height: 44px; // 46px on ipad....
	}

	/* IE */
	@media all and (-ms-high-contrast:none)
	{
	}

	&:hover,
	&:focus {
		outline: 1px;
		background-color: darken($gray-100, 5%);
	}

    .icon-bar {
		position: relative;
		transition: all 350ms ease-in-out;
		background-color: $gray-900;
		display: block;
		width: 22px;
		height: 2px;
		border-radius: 1px;
		margin: 0 auto;
	}

	.icon-bar + .icon-bar {
		margin-top: 4px;
	}

	.icon-bar:nth-of-type(2) {
		top: 1px;
	}
	.icon-bar:nth-of-type(3) {
  		top: 2px;
	}

	&[aria-expanded="true"] {
		background: $gray-100;
		border-right: 1px solid $gray-200;
		border-bottom-color: $gray-100;
		box-shadow: 0 2px 0 0 $gray-100;

		.icon-bar:nth-of-type(1) {
			top: 6px;
			transform: rotate(45deg);
		}
		.icon-bar:nth-of-type(2) {
			background-color: transparent;
		}
		.icon-bar:nth-of-type(3) {
			top: -6px;
			transform: rotate(-45deg);
		}
	}
}

@include media-breakpoint-up(sm) {
    .nav-toggle-btn {
		@supports (-webkit-overflow-scrolling: touch) {
			/* CSS specific to iOS devices */ 
			height: 46px; // 46px on ipad....
		}
	}
}


@include media-breakpoint-up(md) {
    .nav-toggle-btn {
		border-bottom-width: 3px;
		border-bottom-color: $gray-600;
	}
}