
/* Play button */

.play {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: .9;
    filter: alpha(opacity=90);
    width: 50px;
    height: 50px;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    background: rgba(47, 47, 45, .8);
    z-index: 1;
    fill: #fff;

    &:hover {
        background-color: rgba(195, 71, 43, .7);
    }

    svg {
        fill: #fff;
    }
}

.play--sm {
    width: 30px;
    height: 30px;
}
