
/* Vignettes */

.vignette__title {
    padding: 0;
    font-size: .85rem;
    text-transform: uppercase;
    margin: 0;

    a:hover {
        text-decoration: none;
        opacity: .9;
    }

    a {
        color: inherit;
    }
}

.vignette__headline {
    display: block;
    padding: .75rem;
    background-color: #222;
    color: #fff;
    font-weight: 600;
}

// loop sections and setup correct colors
@each $section, $bg-color, $text-color, $primary-color in $sections {
    .#{$section} {
        .vignette__headline {
            background-color: $primary-color;
            color: #fff;
        }
    }

    // always dark bg on Affärsliv
    .section-economics {
        .vignette__headline {
            background-color: #343a40; //$color-economics-complementary
        }
    }
}