{% extends '@base/teaser/default.twig' %}

{% block header %}
	{% if vignette or images %}
		<div class="teaser__header">
			{% block vignette %}{% include "@base/teaser/partial/vignette.twig" %}{% endblock %}
			{% block image %}{% include "@base/teaser/partial/image.twig" %}{% endblock %}
			{% block tag %}{% include "@base/teaser/partial/tag.twig" %}{% endblock %}
		</div>
	{% endif %}
{% endblock %}