<article class="teaser {{ teaser_classes|default('teaser--standard') }}" data-uuid="{{ uuid }}" data-comment-id="{{ comment_id }}">
	{% block teaser %}
     <a class="teaser__link" href="{{ url }}">
         {% block header %}
             {% if vignette or images %}
                 <div class="teaser__header">
                     {% block vignette %}{% include "@base/teaser/partial/vignette.twig" %}{% endblock %}
                     {% block image %}{% include "@base/teaser/partial/image.twig" %}{% endblock %}
                 </div>
             {% endif %}
         {% endblock %}

         {% block content %}
             <div class="teaser__content-wrapper ">
                 <section class="teaser__content">
                     <div class="teaser__text">
	                     {% block headline %}{% include "@base/teaser/partial/headline.twig" %}{% endblock %}
	                     {% block leadin %}{% include "@base/teaser/partial/leadin.twig" %}{% endblock %}
                     </div>
                 </section>
             </div>
         {% endblock %}
     </a>
 {% endblock %}
</article>