// Are used in mixins
$prefixes: -webkit-, -moz-, -ms-, -o-, "";

// Colors
//
// Grayscale and brand colors for use across Bootstrap.

$blue:    #227ec1;
$blue-dark: #06416f;
$red:       rgb(229, 48, 15); // #E5300F
$orange:  #ff9600;
$yellow:  #ffc107;
$green:   #569989;
$green-light:    #70C07D;
$cyan:    #009ba4;
$pink:    #f757c3;
$pink-light: #f8b7b5;
$turquoise: #afe;

$white:  #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96 ;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:  #111;

$grays: (
        100: $gray-100,
        200: $gray-200,
        300: $gray-300,
        400: $gray-400,
        500: $gray-500,
        600: $gray-600,
        700: $gray-700,
        800: $gray-800,
        900: $gray-900
);

$brand-primary: $red;

$colors: (
        blue: $blue,
        blue-dark: $blue-dark,
        red: $red,
        orange: $orange,
        yellow: $yellow,
        green: $green,
        green-light: $green-light,
        cyan: $cyan,
        white: $white,
        gray: $gray-600,
        gray-dark: $gray-800,
        pink: $pink,
        pink-light: $pink-light,
        turquoise: $turquoise
);

$theme-colors: (
        primary: $gray-900,
        secondary: $gray-600,
        success: $green,
        info: $cyan,
        warning: $yellow,
        danger: $red,
        light: $gray-100,
        dark: $gray-800,
        plus: $cyan
);

// section colors

$color-news: 		$blue;
$color-sports: 		$orange;
$color-economics: 	$pink-light;
$color-culture: 	$green;
$color-family: 		$green-light;
$color-opinions: 	$blue-dark;
$color-tv:              $red;
$color-lifestyle: 	$pink;
$color-district: 	darken($turquoise, 30%);
$color-plus:            $cyan;

$color-economics-complementary: #aa000a;

$page-bg-economics: #fff6f1;
$page-bg-avspark: #f7fdf7;

$color-related-bg: $gray-200;

// Teaser section-colors: Used when making section-specific teaser versions
// ========================================================================a
$sections: (
	//$name, $bg-color, $text-color, $primary-color, $secondary-color, $headline-highlight-color
	("section-news", #fff, #000, $color-news, $color-news, $red),
	("section-sport", #fff, #000, $color-sports, $color-sports, $red),
	("section-economics", #fff, #000, $color-economics, $color-economics, $color-economics-complementary),
	("section-culture", #fff, #000, $color-culture, $color-culture, $red),
	("section-family", #fff, #000, $color-family, $color-family, $red),
	("section-opinion", #fff, #000, $color-opinions, $color-opinions, $red),
	("section-tv", #fff, #000, $color-tv, $color-tv, $red),
	("section-lifestyle", #fff, #000, $color-lifestyle, $color-lifestyle, $red),
	("section-district", #fff, #000, $color-district, $color-district, $red),
);

$sections-menus: (
	// name, headline-color, active-color, border-color
	("section-news", $color-news, $color-news, #ddddd6),
	("section-sport", $color-sports, $color-sports, #ddddd6),
	("section-economics", #000, $color-economics-complementary, $color-economics-complementary),
	("section-culture", $color-culture, $color-culture, #ddddd6),
	("section-family", $color-family, $color-family, #ddddd6),
	("section-opinion", $color-opinions, $color-opinions, #ddddd6),
	("section-tv", $color-tv, $color-tv, #ddddd6),
	("section-lifestyle", $color-lifestyle, $color-lifestyle, #ddddd6),
	("section-district", $color-district, $color-district, #ddddd6),
);

// site width

$site-content-width: 630px;
$sidebar-width: 250px;
$site-center-width: $site-content-width + $sidebar-width + 24px;

// fonts

$font-family-sans-serif: 'Lato', 'Arial', sans-serif;
// $headings-font-weight:   500;
// $headings-line-height:   1.1;

// border radius

$border-radius: 2px;

// modals
$modal-content-border-width: 0;
.modal-content  {
        border-radius: 0;
}

// Error: Incompatible units: 'px' and 'rem' - set below to avoid gulp problem. TODO: investigate the real problem...
$popover-arrow-outer-width: (10px + 1px);

// slick slider options
$slick-loader-path: "../images/";
$slick-font-path: "";
$slick-font-family: $font-family-sans-serif;

$grid-gutter-width: 30px;
$single-grid-gutter-width: $grid-gutter-width / 2;
$standard-margin: 1rem;


// Fonts sizes
// ======================================================
$font-size-base: 1.125rem;
$font-size-lg:   1.27rem;
$font-size-sm:   .875rem;

$line-height-base: 1.5;

$h1-font-size: 2.875rem;
$h2-font-size: 2rem;
$h3-font-size: 1.75rem;
$h4-font-size: 1.5rem;
$h5-font-size: $font-size-lg;
$h6-font-size: $font-size-base;


// Shadow
// ========================
$box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1), 0 1px 1px -3px rgba(0,0,0,0.12), 0 0px 2px 0 rgba(0,0,0,0.12);
$box-shadow-hover: 0 1px 6px 2px rgba(0,0,0,0.1), 0 1px 1px -3px rgba(0,0,0,0.12), 0 0px 2px 0 rgba(0,0,0,0.12);

// 
$enable-transitions: 'false';