.img-container {
    width: 100%;
    //
    .img-cropper {
        position: relative;
        display: block;
        width: 100%;
        height: 0;
        overflow: hidden;
        outline: none;
    }

    *[class^='img-cropper-'], *[class*=' img-cropper-'] {
        position: relative;
        height: 0;
    }

    .img-cropper-1-1,
    .img-cropper-4-4 {
        padding-bottom: 100%;
    }

    .img-cropper-3-2 {
        padding-bottom: 66.7%;
    }

    .img-cropper-5-2 {
        padding-bottom: 40%;
    }

    .img-cropper-2-3 {
        padding-bottom: 150%;
    }

    .img-cropper-4-3 {
        padding-bottom: 75%;
    }

    .img-cropper-16-9 {
        padding-bottom: 56.25%;
    }

    .img-cropper-21-9 {
        padding-bottom: 42.85714%;
    }

    img {
        display: block;
        width: 100%;
        height: auto;
        margin-right: auto;
        margin-left: auto;
    }
}