
/* Misc layout classes */

.site-center-wrapper {
    width: $site-center-width;
    margin: 0 auto;
}

.site-content-col {
    width: 100%;
}

//@media screen and (max-width: $site-center-width) {
//    .site-content-col {
//        width: 100%;
//    }
//}

.no-gutters {
    margin-right: 0;
    margin-left: 0;

    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
}

// Responsive column gutters - increase gutter on larger devices
@include media-breakpoint-up(md) {
    .row {
        > [class*="col-"] {
            &.no-padding-right {
                padding-right: 0;
            }
            &.no-padding-left {
                padding-left: 0;
            }
        }
    }
}

@include media-breakpoint-up(md) {
    .row {
        margin-right: -10px;
        margin-left: -10px;

        > [class*="col-"] {
            padding-right: 10px;
            padding-left: 10px;
        }
    }
}

@include media-breakpoint-up(lg) {
    .row {
        margin-right: -15px;
        margin-left: -15px;

        > [class*="col-"] {
            padding-right: 15px;
            padding-left: 15px;
        }
    }
}