// We use this to create a Font-face of the fonts
// ======================================================
@mixin font-face($fontName, $fileName, $path: $font-path) {
    @font-face {
        font-family: $fontName;
        src: url('#{$path}/#{$fileName}.woff') format('woff'), // Modern Browsers
        url('#{$path}/#{$fileName}.ttf') format('truetype'); // Safari, Android, iOS
        @content;
    }
}

// BEM helpers: Simple mixins for creating style according to BEM
// ======================================================
@mixin has($name) {
    @at-root
    #{&}__#{$name} { @content; }
}
@mixin version($name) {
    @at-root
    &--#{$name} { @content; }
}

// Render the content of a list if it has content
@mixin render-list($list) {
    @if length($list) > 0 {
        #{$list} { @content; };
    }
}

// Border-radius
// ======================================================
@mixin round($radius: 5px) {
    @include border-radius($radius);
}

@mixin border-radius($radius...) {

    @if length($radius) == 0 { $radius: 5px; }

    @if length($radius) == 1 {
        @each $prefix in $prefixes {
            #{$prefix}border-radius: $radius;
        }
        @each $prefix in $prefixes {
            $padding: padding-box;
            @if $prefix == -moz- { $padding: padding; }

            #{$prefix}background-clip: $padding;

        }
    }@else {
        @include customBorderRadius($radius...);
    }
}

@mixin customBorderRadius($topLeft: 0, $topRight: 0, $bottomRight: 0, $bottomLeft: 0) {
    @each $prefix in $prefixes {
        @if $prefix == "-moz-" {
            @if $topLeft != 0 { #{$prefix}border-radius-topleft: $topLeft; }
            @if $topRight != 0 { #{$prefix}border-radius-topright: $topRight; }
            @if $bottomRight != 0 { #{$prefix}border-radius-bottomright: $bottomRight; }
            @if $bottomLeft != 0 { #{$prefix}border-radius-bottomleft: $bottomLeft; }
        }@else {
            @if $topLeft != 0 { #{$prefix}border-top-left-radius: $topLeft; }
            @if $topRight != 0 { #{$prefix}border-top-right-radius: $topRight; }
            @if $bottomRight != 0 { #{$prefix}border-bottom-right-radius: $bottomRight; }
            @if $bottomLeft != 0 { #{$prefix}border-bottom-left-radius: $bottomLeft; }
        }
    }
}