// Visibility classes: Needed for hidden support in Everyboard
// ======================================================

// hidden xs

@include media-breakpoint-only(xs) {
    .hidden-xs {
        display: none !important;
    }
}

@include media-breakpoint-up(xs) {
    .hidden-xs-up {
        display: none !important;
    }
}

// hidden sm

@include media-breakpoint-only(sm) {
    .hidden-sm {
        display: none !important;
    }
}

@include media-breakpoint-down(sm) {
    .hidden-sm-down {
        display: none !important;
    }
}

@include media-breakpoint-up(sm) {
    .hidden-sm-up {
        display: none !important;
    }
}

// hidden md

@include media-breakpoint-only(md) {
    .hidden-md {
        display: none !important;
    }
}

@include media-breakpoint-down(md) {
    .hidden-md-down {
        display: none !important;
    }
}

@include media-breakpoint-up(md) {
    .hidden-md-up {
        display: none !important;
    }
}

// hidden lg

@include media-breakpoint-only(lg) {
    .hidden-lg {
        display: none !important;
    }
}

@include media-breakpoint-down(lg) {
    .hidden-lg-down {
        display: none !important;
    }
}

@include media-breakpoint-up(lg) {
    .hidden-lg-up {
        display: none !important;
    }
}

// hidden xl

@include media-breakpoint-only(xl) {
    .hidden-xl {
        display: none !important;
    }
}

@include media-breakpoint-up(xl) {
    .hidden-xl-up {
        display: none !important;
    }
}