#page404 {
	text-align: center;
	padding-top: 30px;

	h2 {
		font-family: Serif;
		font-weight: 800;
	}
	p { font-family: Helvetica, Arial, sans-serif; }

	input[type=search] { flex: 1; }

	form { margin-bottom: 20px; }
}

.bubble-404 {
	position: absolute;
	margin-left: -100px;
	max-width: 100px;
	margin-top: 30px;

	animation: bubbleFrames ease-out 0.5s;
	animation-iteration-count: 1;
	transform-origin: 100% 100%;
	animation-fill-mode: forwards; /*when the spec is finished*/
	-webkit-animation: bubbleFrames ease-out 0.5s;
	-webkit-animation-iteration-count: 1;
	-webkit-transform-origin: 100% 100%;
	-webkit-animation-fill-mode: forwards; /*Chrome 16+, Safari 4+*/
	-moz-animation: bubbleFrames ease-out 0.5s;
	-moz-animation-iteration-count: 1;
	-moz-transform-origin: 100% 100%;
	-moz-animation-fill-mode: forwards; /*FF 5+*/
	-o-animation: bubbleFrames ease-out 0.5s;
	-o-animation-iteration-count: 1;
	-o-transform-origin: 100% 100%;
	-o-animation-fill-mode: forwards; /*Not implemented yet*/
	-ms-animation: bubbleFrames ease-out 0.5s;
	-ms-animation-iteration-count: 1;
	-ms-transform-origin: 100% 100%;
	-ms-animation-fill-mode: forwards; /*IE 10+*/
}

.elk-404 {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

@keyframes bubbleFrames {
	0% {
		opacity: 0;
		transform: translate(0px, -45px) rotate(-20deg);
	}
	31% {
		opacity: 1;
		transform: translate(0px, -45px) rotate(20deg);
	}
	72% {
		transform: translate(0px, -45px) rotate(-10deg);
	}
	100% {
		opacity: 1;
		transform: translate(0px, -45px) rotate(0deg);
	}
}

@-moz-keyframes bubbleFrames {
	0% {
		opacity: 0;
		-moz-transform: translate(0px, -45px) rotate(-20deg);
	}
	31% {
		opacity: 1;
		-moz-transform: translate(0px, -45px) rotate(20deg);
	}
	72% {
		-moz-transform: translate(0px, -45px) rotate(-10deg);
	}
	100% {
		opacity: 1;
		-moz-transform: translate(0px, -45px) rotate(0deg);
	}
}

@-webkit-keyframes bubbleFrames {
	0% {
		opacity: 0;
		-webkit-transform: translate(0px, -45px) rotate(-20deg);
	}
	31% {
		opacity: 1;
		-webkit-transform: translate(0px, -45px) rotate(20deg);
	}
	72% {
		-webkit-transform: translate(0px, -45px) rotate(-10deg);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate(0px, -45px) rotate(0deg);
	}
}

@-o-keyframes bubbleFrames {
	0% {
		opacity: 0;
		-o-transform: translate(0px, -45px) rotate(-20deg);
	}
	31% {
		opacity: 1;
		-o-transform: translate(0px, -45px) rotate(20deg);
	}
	72% {
		-o-transform: translate(0px, -45px) rotate(-10deg);
	}
	100% {
		opacity: 1;
		-o-transform: translate(0px, -45px) rotate(0deg);
	}
}

@-ms-keyframes bubbleFrames {
	0% {
		opacity: 0;
		-ms-transform: translate(0px, -45px) rotate(-20deg);
	}
	31% {
		opacity: 1;
		-ms-transform: translate(0px, -45px) rotate(20deg);
	}
	72% {
		-ms-transform: translate(0px, -45px) rotate(-10deg);
	}
	100% {
		opacity: 1;
		-ms-transform: translate(0px, -45px) rotate(0deg);
	}
}