.article__content {
  font-size: 0.9rem;
}

.article__ad {
  &--panorama {
    margin: 10px -15px;
  }

  &--panorama-wide {
    margin: 10px -9rem;
  }

  &--content {
    // width: 250px;
    float: right;
    margin-left: .75rem;
    margin-right: -123px;
    min-height: 380px;
  }
}

@media screen and (max-width: $site-center-width) {
  .article__ad {
    &--content {
      display: none;
    }
  }
}