

.site-logo-container, a:hover{
    text-decoration: none;
}

.site-logo-text {
    font-size: 23px;
    text-align: left;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;

    margin-bottom: 0;
    padding: 15px 15px;

    //border-bottom: 1px solid rgb(102, 102, 102);
    //border-bottom: 1px solid rgb(235, 235, 235);

    @media(min-width: $eb-screen-sm-min) {
        font-size: 32px;
        margin-bottom: 15px;
        //padding: 25px;
    }

    &:hover {
        text-decoration: none;
    }
}

.site-logo-separator {
    opacity: 1;
    mix-blend-mode: normal;
    padding: 0;
    border-radius: 0;
    border: 0 solid rgb(102, 102, 102);
    background-size: cover;
    background: rgb(235, 235, 235) none repeat center center;
    width: 900px;
    height: 1px;
    transform: rotate(0deg) translate(160px, 109px) rotate(0deg);
}

.site-logo-news {
    opacity: 1;
    mix-blend-mode: normal;
    padding: 2px 10px 7px;
    border-radius: 0 25px 0 0;
    border: 0 solid rgb(102, 102, 102);
    background-size: cover;
    background: rgb(229, 48, 15) none repeat center center;
    width: 102px;
    height: 44px;
    transform: rotate(0deg) translate(270px, 51px) rotate(0deg);

    &-text {
        color: rgb(255, 255, 255);
    }
}