/* Site footer */

.site-footer {
    font-size: $font-size-sm;
    padding-top: 1rem;
}

.site-footer__publisher-info-title {
    font-weight: 600;

    &:before {
        display: block;
        content: '';
        height: 1px;
    }
}

.site-footer__info_container {
    margin-top: 3rem;
    padding-top: 2rem;
    border-top: 1px solid $gray-200;
    background-color: transparent;

    .section-economics & {
        border-top-color: lighten($color-economics, 8%);
    }

    .site-footer__info-link {
        text-align: center;
        font-weight: 600;
        font-size: $font-size-sm;
        display: block;

        &:hover {
            text-decoration: none;
            opacity: .65;
        }
    }

    .site-footer__info-image {
        display: block;
        width: 40px;
        margin-bottom: 2px;
    }

}

