.site-header {
    background: rgb(48, 48, 48);
    color: rgb(177, 177, 177);

    &-info {
        margin: 5px;
        font-size: 20px;
        &-icon {
            opacity: 1;
            mix-blend-mode: normal;
            fill: rgb(177, 177, 177);
            width: 20px;
            height: 20px;
        }
    }
    .wrapper-no-overflow {
        transition: height linear .25s;

        & > .row {
            margin-left: 0;
            margin-right: 0;
        }
    }

    &--left { padding-left: 0; }
    &--right {
        padding-right: 0;

        .btn-toolbar {
            padding-top: 10px;
            padding-right: 10px;
        }
    }
}

@include media-breakpoint-up(sm) {
    .site-header {
        & > .wrapper-no-overflow,
        & > .wrapper {
        }

        &--right {
            .btn-toolbar {
                padding-top: 33px;
                padding-right: 10px;
            }
        }
    }
}