
body.section-economics {
	background: $page-bg-economics;

	.site-header {

		& > .wrapper-no-overflow,
		& > .wrapper {
			position: relative;
		}

		.site-logo-container {
			background: url('../images/logo-mooseonly-inv.png') top left no-repeat;
			background-size: 51%;
			background-position-y: 13px;
			background-position-x: center;
			height: 60px;
			width: 60px;
			float: left;
		}

		.site-logo {
			opacity: 0;

			padding-top: 5px;
			height: auto;
			width: 40px;
		}

		.affarsliv-logo {
			padding-top: 13px;
			width: 135px;
			float: left;
			transition: all linear .25s;

			img {
				max-width: 100%;
			}
		}
	}

	.article__fact {
		background: $color-economics;

		.article__fact-header {
			border-bottom: 1px solid $page-bg-economics;
		}
	}

	@include media-breakpoint-up(sm) {
		.site-header {
			.site-logo-container {
				height: 104px;
				background-position-y: 32px;
				background-size: 62%;
			}

			.affarsliv-logo {
				padding-top: 30px;
				width: 200px;
			}
		}
	}

	@include media-breakpoint-up(md) {
		.site-header {
			.site-logo-container {
				background-size: 81%;
				background-position-y: 23px;
				width: 60px;
				padding-left: 0;
			}

			.site-logo {
				width: 50px;
			}

			.affarsliv-logo {
				padding-left: 10px;
				width: 225px;
			}
		}
	}

	@include media-breakpoint-up(lg) {
		.site-header {

			.site-logo-container {
				background: transparent;
				width: 180px;
			}

			.site-logo {
				padding-top: 30px;
				opacity: 1;
				width: 180px;
			}

			.affarsliv-logo {
				padding-top: 34px;
				width: 195px;
			}
		}
	}

	@include media-breakpoint-up(xl) {
		.site-header {

			.site-logo-container {
				width: 189px;
			}

			.site-logo {
				width: 189px;
			}

			.affarsliv-logo {
				width: 205px;
			}
		}
	}

}