body.section-avspark {

	background: $page-bg-avspark;

	.site-header {
		background: #3f5400 url('../images/site-header-avspark-bg.jpg') top center no-repeat;
		background-size: 1920px 104px;
		overflow: hidden;

		& > .wrapper-no-overflow,
		& > .wrapper {
			position: relative;
		}

		.site-logo-container {
			background: url('../images/logo-mooseonly-inv.png') top left no-repeat;
			background-size: 51%;
			background-position-y: 12px;
			background-position-x: center;
			height: 60px;
			width: 60px;
			float: left;
		}

		.site-logo {
			opacity: 0;

			padding-top: 5px;
			height: auto;
			width: 40px;
		}

		.avspark-logo {
			padding-top: 13px;
			width: 135px;
			float: left;
			transition: all linear .25;

			img {
				max-width: 100%;
			}
		}
	}

	@include media-breakpoint-up(sm) {
		.site-header {
			.site-logo-container {
				height: 104px;
				background-size: 62%;
				background-position-y: 31px;
			}

			.avspark-logo {
				padding-top: 30px;
				width: 200px;
			}
		}
	}

	@include media-breakpoint-up(md) {
		.site-header {
			.site-logo-container {
				background-size: 81%;
				background-position-y: 25px;
				width: 60px;
				padding-left: 10px;
			}

			.site-logo {
				width: 50px;
			}

			.avspark-logo {
				padding-left: 10px;
				width: 245px;
			}
		}
	}

	@include media-breakpoint-up(lg) {
		.site-header {

			.site-logo-container {
				background: transparent;
				width: 200px;
			}

			.site-logo {
				padding-top: 30px;
				opacity: 1;
				width: 190px;
			}
		}
	}
}