body.section-hockeybloggen {

	.site-header {

		& > .wrapper-no-overflow,
		& > .wrapper {
			position: relative;
		}

		.site-logo-container {
			background: url('../images/logo-mooseonly-inv.png') top left no-repeat;
			background-size: 51%;
			background-position-y: 12px;
			background-position-x: center;
			height: 60px;
			width: 60px;
			float: left;
		}

		.site-logo {
			opacity: 0;
			padding-top: 5px;
			height: auto;
			width: 40px;
		}

		.hockeyblog-logo {
			padding-top: 18px;
			width: 138px;
			float: left;
			transition: all linear .25;

			img {
				max-width: 100%;
			}
		}
	}

	@include media-breakpoint-up(sm) {
		.site-header {
			.site-logo-container {
				height: 104px;
				background-size: 62%;
				background-position-y: 27px;
			}
			.hockeyblog-logo {
				padding-left: 5px;
				padding-top: 40px;
				width: 200px;
			}
		}
	}

	@include media-breakpoint-up(md) {
		.site-header {
			.site-logo-container {
				height: 104px;
				background-size: 62%;
			}

			.hockeyblog-logo {
				padding-top: 40px;
				width: 200px;
			}
		}
	}

	@include media-breakpoint-up(lg) {
		.site-header {

			.site-logo-container {
				background: transparent;
				padding-left: 0;
				width: 200px;
			}

			.site-logo {
				padding-top: 30px;
				opacity: 1;
				width: 189px;
			}

			.hockeyblog-logo {
				padding-top: 37px;
				width: 300px;
			}
		}
	}
}