{% extends '@base/main.twig' %}

{% block site_content %}
    {% block article %}
        {% include '@base/page/article/parts/determine-article-template.twig' %}
    {% endblock article %}
{% endblock %}