.article__byline {
    &-container {
        border-bottom: 4px solid $gray-300;
        margin: $single-grid-gutter-width 0;
        font-size: $font-size-sm;
    }

    &-name {
        font-weight: bold;
        color: #000;
    }

    &-extra-info {
        color: $gray-700;
        font-size: .85rem;

        a {
            color: $gray-700;
        }
    }
}