.comments-text-container {
  .comments-text {
    font-size: 0.9rem;
  }
  .ifragasatt-container {
    background: transparent;
    min-width: 300px;
  }
  .ifragasatt-container iframe {
    background: transparent;
    width: 1px;
    min-width: 100%;
  }
}
