.article__fact {
    padding: 1rem;
    background: $gray-100;

    article.article:not(.article__type--longread) & {
        margin-left: -15px;
        margin-right: -15px;
    }

    &-subject {
        display: none;
    }
    &-header {
        padding-bottom: ceil($single-grid-gutter-width/2);
        margin-bottom: $single-grid-gutter-width;
        border-bottom: 1px solid $gray-300;
    }
    &-headline {
        font-weight: 700;
        font-size: $h2-font-size;
        color: $red;
        margin: 0;
    }
    &-body {
        font-size: .95rem;

        p {
            margin-bottom: .5rem;
        }
    }
}

@include media-breakpoint-up(sm) {
    .article__fact {
        article.article:not(.article__type--longread) &  {
            margin-left: 0;
            margin-right: 0;
        }
    }
}