.article__print {
    font-size: $font-size-sm;
    float:right;
    &-btn {
        color: $gray-700;
        font-weight: 600;
        border: none;
        margin: 0;
        padding: .2rem;
        background-color: transparent;
        &:hover, &:focus {
            outline: none;
            background-color: $gray-200;
        }
    }
}