.article__quote {
    &-subject {
        display: none;
    }
    &-header {
        display: none;
    }
    &-headline {
    }
    &-body {
        font-family: 'Libre Baskerville', serif;
        font-size: $h3-font-size;
        padding: ceil($single-grid-gutter-width/2) 0;
        border-top: 1px dotted $gray-300;
        border-bottom: 1px dotted $gray-300;

        p {
            font-style: italic;
            line-height: 2rem;
            font-size: 1.5rem;
            font-weight: 700;

            &:before {
                content:'\201C';
            }
            &:after {
                content:'\201D';
            }
        }
        a, p {
            color: $red !important;
            margin: 0;
        }
    }
}