$bottom_menu_height: 60px;
$facebook-color: #4864AF;
$twitter-color: #4291DD;

$gray-lighter: $gray-100;
$gray-light: $gray-300;
$gray: $gray-500;
$gray-dark: $gray-700;
$gray-darker: $gray-900;
$zindex-navbar-fixed: $zindex-fixed;

$brand-primary: $red;

$default-link-color: $red;

.readerlist-overlay {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: $zindex-navbar-fixed - 1;
}

.readerlist {
    background-color: $gray-lighter;
    box-shadow: 0 4px 10px 0 #333;
    display: table;

    width: 100%;
    height: $bottom_menu_height + 5;

    z-index: $zindex-navbar-fixed;

    position: fixed;
    bottom: -($bottom_menu_height + 5);
    left: 0;
    right: 0;

    .readerlist-anchor {
        color: $gray-dark;
    }

    .readerlist__left-part,
    .readerlist__right-part,
    .readerlist__center-part {
        height: 100%;
        display: table-cell;

        label {
            margin: 0;
        }
    }

    .readerlist__left-part {
        float: left;
        width: 65px;
    }

    .readerlist__center-part {
        @include clearfix();
        width: 100%;
        height: 100%;
        vertical-align: middle;
    }

    .readerlist__right-part {
        position: relative;
        float: right;
        width: $bottom_menu_height;
    }

    .readerlist__article-display {
        padding: 0 10px;
    }

    .readerlist__article-display--info {
        font-size: 12px;
        color: $gray-dark;
        white-space: nowrap;
    }

    .readerlist__article-display--headline {
        font-size: $font-size-sm;
        white-space: nowrap;
        font-weight: 600;
        color: $gray-dark;
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }

    .readerlist__progress {
        position: absolute;
        display: block;
        width: 100%;
        height: 5px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $gray-light;

        .progress__bar {
            height: 5px;
            display: block;
            background-color: $brand-primary;
            width: 0;
        }
    }

    .readerlist__article-info-display {
        display: table-cell;
        vertical-align: middle;
    }

    .readerlist__article-menu {
        display: table-cell;
        width: 65px;
        height: 100%;
        border-right: 1px solid $gray-lighter;
        transition: background-color ease-in-out .25s;

        &:hover {
            background-color: $gray-light;
        }

        label {
            cursor: pointer;
            display: block;
            height: $bottom_menu_height;
            text-align: center;

            svg {
                height: 100%;
                width: 2rem;
                fill: $brand-primary;
                transform: rotate(180deg);
            }
        }

        input:checked + label {
            background-color: #fff;

            &:after {
                color: $brand-primary;
            }
            svg {
                fill: $brand-primary;
                transform: none;
            }
        }

        input ~ div.readerlist__article-list {
            display: none;
            width: 100%;
            position: fixed;
            bottom: $bottom_menu_height + 5;
            z-index: $zindex-navbar-fixed;
            max-height: 100%;
            padding-top: $bottom_menu_height + 5;
            overflow-y: auto;

            .readerlist_article-list--top {
                background-color: $brand-primary;
                padding: 5px 10px;
                color: #fff;
            }

            a {
                text-decoration: none;
            }

            ul {
                padding: 0;
                margin: 0;
                background-color: #fff;

                li {
                    list-style: none;
                    border-top: 1px solid $gray-lighter;
                    position: relative;
                    transition: border ease-in-out .25s;

                    a.readerlist-anchor {
                        display: block;
                        overflow: hidden;
                        padding: 5px 30px 5px 20px;
                    }

                    .icon-wrapper {
                        position: absolute;
                        right: 0;
                        top: 0;
                        height: 100%;
                        padding-right: 5px;

                        svg {
                            height: 100%;
                        }
                    }

                    &:hover {
                        background-color: $gray-lighter;
                        cursor: pointer;
                    }

                    span {
                        display: block;

                        &.readerlist_article-list-item__headline {
                            font-size: .95rem;
                            font-weight: 600;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                        }

                        &.readerlist_article-list-item__meta {
                            font-size: 0.75rem;
                            font-weight: 100;
                            color: $gray;
                        }
                    }

                    &.current {
                        border-left: 5px solid $brand-primary;
                        position: relative;

                        &:after {
                            left: 0;
                            top: 50%;
                            border: solid transparent;
                            content: " ";
                            height: 0;
                            width: 0;
                            position: absolute;
                            pointer-events: none;
                            border-color: rgba(136, 183, 213, 0);
                            border-left-color: $red;
                            border-width: 6px;
                            margin-top: -6px;
                        }
                    }
                }
            }
        }

        input:checked ~ div {
            display: block;
        }

        #readerlist__article-menu-button {
            display: none;
        }
    }

    // see bitbucket for social media styles - removed 7/2 - 2018
}

@include media-breakpoint-up(sm) {
    .readerlist {
        .center-container {
            position: relative;
        }

        .readerlist__article-info {
            display: inline-block;
            right: 0;
            top: 0;
            position: absolute;
            background-color: #fff;
            box-shadow: -20px 0 20px #fff;

            .readerlist__article-info__socialfollow--md {
                display: table-cell;
            }
        }

        .readerlist__article-display {
            display: inline-block;
            max-width: 500px;
        }
    }
}

@include media-breakpoint-up(md) {
    .readerlist {
        .readerlist__article-info {
            background-color: #fff;
            box-shadow: -20px 10px 30px #fff;

            .readerlist__article-info__socialfollow--md, .readerlist__article-info__social--lg {
                display: table-cell;
            }
        }

        .readerlist__article-display--headline {
            font-size: 1rem;
        }

        .readerlist__article-display {
            max-width: 700px;
        }

        .readerlist__article-share {
            display: none;
        }

        .readerlist__right-part {
            display: none;
        }

        .readerlist__article-menu {
            .readerlist__article-list {
                max-width: 400px;
            }
        }

        .readerlist__logo {
            width: 30px;
            margin: 5px 20px;
        }
    }
}

@include media-breakpoint-up(lg) {
    .readerlist {
        .readerlist__article-display {
            max-width: 700px;
        }
    }
}
