.article__review {
    padding: 1rem;
    background: $gray-100;

    article.article:not(.article__type--longread) & {
        margin-left: -15px;
        margin-right: -15px;
    }

    &-header {
        padding-bottom: ceil($single-grid-gutter-width/2);
        margin-bottom: $single-grid-gutter-width;
        border-bottom: 1px solid $gray-300;
    }
    &-headline {
        font-weight: 700;
        font-size: $h2-font-size;
        color: $red;
        margin: 0;
    }
    &-section {
        font-weight: bold;
        font-size: 1.875rem;
        color: $red;
        margin: 0;
    }

    &-title {
        font-weight: bold;
        font-size: 1.125rem;
    }

    .icon {
        fill: $gray-300;
        &.active { fill: $red; }
    }

    &-body {
        margin-top: 10px;
        font-size: .95rem;
    }
}


@include media-breakpoint-up(sm) {
    .article__review {
        article.article:not(.article__type--longread) & {
            margin-left: 0;
            margin-right: 0;
        }
    }
}