@mixin make-social-share-brand($bg-color:$gray-500, $tone:dark) {
    background-color: $bg-color;
    @if $tone == dark {
        color: $white;
    } @else {
        color: $black;
    }
    &:focus, &:hover {
        background-color: darken($bg-color, 5%);
    }
    &:active {
        background-color: darken($bg-color, 10%);
    }

    @content;
}

.social-share-container {
    text-align: center;
}

.social-share__button {
    font-family: $font-family-sans-serif;
    padding: 0 .6rem 0 0;
    margin: 0 .2rem;
    font-size: $font-size-sm;

    &.fb-share-button {
        @include make-social-share-brand(#4864af);
    }

    &.twitter-share-button {
        @include make-social-share-brand(#4291dd);
    }

    &.mail-share-button {
        @include make-social-share-brand();
    }

    .icon {
        margin: .4rem .2rem .4rem .6rem;
        display: inline-block;
    }
}