@mixin mark-story-item() {
    .story-article {
        border-left-width: ceil($single-grid-gutter-width/2);
    }
}

.article__stories {
}

.article__story {
    &-container {
    }
    &-label {
        font-weight: 900;
    }
    &-list {
        @extend .list-unstyled;
        border: 1px solid $gray-200;
        border-top: none;
    }

    &-item {
        list-style: none;
        border-top: 1px solid $gray-200;
        position: relative;
        &--current-article {
            @include mark-story-item;
        }

        &__link {
            display: block;
            &:hover {
                text-decoration: none;
                @include mark-story-item;
            }
        }
    }
}

.story-article {
    color: $gray-700;
    padding: ceil($single-grid-gutter-width/2);
    border-left: 0 solid $color-news;
    //border-left: ceil($single-grid-gutter-width/2) solid transparent;
    transition: border .5s;
    &__headline {
        font-size: $font-size-base;
        font-weight: 700;
        margin: 0;
    }
    &__meta {
        font-size: $font-size-sm;
    }
    &__dateline {

    }
}
