.article__tags {
    font-size: $font-size-sm;
    &-container {
        margin: $single-grid-gutter-width 0;
        border-top: 1px solid $gray-200;
        border-bottom: 1px solid $gray-200;
    }
    &-list {
        @extend .list-inline;
        display: inline-block;
    }
    &-label {
        display: inline-block;
        font-size: inherit;
        line-height: 2;
        color: $red;
    }
}

.article__tag {
    display: inline-block;

    &-name {
        display: block;
        cursor: pointer;
        color: $gray-700;
        padding: .2rem .7rem .2rem .4rem;
        line-height: 2;

        &:hover {
            background-color: $gray-100;
            color: $gray-800;
            text-decoration: none;
        }
    }
}