.section-presentation {
	margin: 20px 0 0;
	overflow: hidden;

	&__header {
		border-bottom: 4px solid #ddddd6;
	}

	&__headline {
		font-family: "Open Sans", sans-serif;
		font-weight: 800;
		font-size: 2rem;
		line-height: 2.75rem;
		letter-spacing: -0.05em;

		a { text-decoration: none; }
	}

	&__link {
		letter-spacing: 0;
	}

	&__menu {
		font-family: "Open Sans", sans-serif;
		font-size: 0.8rem;
		font-weight: 600;
		list-style: none;
		margin-bottom: 10px;
		overflow: hidden;
		padding: 0;
		text-transform: uppercase;

		li {
			border-bottom: 1px solid $gray-100;

			&.active {
				a { color: $color-economics; }
			}

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				border-bottom: none;
			}

			a {
				display: block;
				padding: 7.5px 0;
				text-decoration: none;
			}
		}
	}
}

@each $name, $headline-color, $active-color, $border-color in $sections-menus {
	body.#{$name} {
		.section-presentation {
			&__headline {
				color: $headline-color;
				border-color: $border-color;

				a { color: $headline-color; }

				.btn:hover {
					color: white;
				}
			}

			&__menu li.active a {
				color: $active-color;
			}
		}
	}
}



@include media-breakpoint-up(md) {

	.section-presentation {
		margin-bottom: 1rem;

		&__menu-wrapper {
			display: block;
		}

		&__nav-btn {
			display: none;
		}

		&__menu {

			li {
				border-bottom: none;
				float: left;
				margin-left: 13px;

				a {
					padding: 7.5px 0 0;
				}
			}
		}
	}
}