{% spaceless %}
<?xml version="1.0" encoding="{{ xml_encoding() }}"?>
<rss version="{{ version|default('2.0') }}"{% for name,link in xmlns %} xmlns:{{ name }}="{{ link }}"{% endfor %}>
    <channel>
    {% block channel %}
        <title>{{ channel.title }}</title>
        <description>{{ channel.description}}</description>
        <link>{{ site_url() }}</link>
        <atom:link href="{{ self_link() }}" rel="self" type="application/rss+xml"/>
        {% if channel.ttl %}<ttl>{{ channel.ttl }}</ttl>{% endif %}
        {% if channel.pubdate %}<pubDate>{{ channel.pubdate }}</pubDate>{% endif %}
        {% if channel.lastbuilddate %}<lastBuildDate>{{ channel.lastbuilddate }}</lastBuildDate>{% endif %}
        {% if channel.language %}<language>{{ channel.language }}</language>{% endif %}
        {% if channel.category %}<category>{{ channel.category }}</category>{% endif %}
        {% if channel.copyright %}<copyright>{{ channel.copyright }}</copyright>{% endif %}
        {% if channel.image %}
            <image>
                <url>{{ channel.image.url }}</url>
                <title>{{ channel.image.title }}</title>
                <link>{{ site_url() }}</link>
                <width>{{ channel.image.width }}</width>
                <height>{{ channel.image.height }}</height>
                <description>{{ channel.image.title }}</description>
            </image>
        {% endif %}
    {% endblock %}
    {% block feed %}
        {% for item in feed %}
            {{ item|raw }}
        {% endfor %}
    {% endblock %}
    </channel>
</rss>
{% endspaceless %}