<!DOCTYPE html>
<html lang="sv">
{% block site_header %}{{ get_header() }}{% endblock %}
<body {{ body_class() }} data-device="{{ device }}"{% if keywords %} data-keywords="{{ keywords|join(':') }}"{% endif %}>

<header class="site-header">
	<div class="wrapper-no-overflow">
		<div class="row justify-content-center">
			<div class="site-header-info">
				<svg version="1.2" class="site-header-info-icon">
					<g>
						<path xmlns:default="http://www.w3.org/2000/svg" d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z" style="fill: rgb(177, 177, 177);"></path>
					</g>
				</svg>
				<span>This is a demo site. The news on this site may not be accurate.</span>
			</div>
		</div>
	</div>
</header>

{% block site_content_wrapper %}
	<div class="container">
		<header>
			{% include '@base/page/part/logo.twig' %}
			{{ get_template_part('partials/main-menu') }}
		</header>

		<div id="main-body">
			{% block site_content %}
				{{ the_content() }}
			{% endblock %}
		</div>

		{% block site_footer %}
			{{ get_footer() }}
		{% endblock %}
	</div>

{% endblock site_content_wrapper %}
</body>
</html>