{% if article.authors %}
<div class="article__byline-container article__part pb-1">
    {% for author in article.authors %}
        <div class="media mb-1">
            <div class="article__byline-info media-body pt-1">
                {#<div class="article__byline-name"><a title="{{ author.title }}" href="{{ author.permalink }}">{{ author.name }}<br/></a></div>#}
                <div class="article__byline-name">{{ author.name }}</div>
                <div class="article__byline-extra-info pb-1">
                    {%- spaceless %}
                    {% if author.description %}<span title="{{ author.description }}">{{ author.description_short }}</span> | {% endif %}
                    {% if author.content.email %}<a rel="nofollow" href="mailto:{{ author.content.email }}">{{ author.content.email }}</a>{% endif %}
                    {% endspaceless -%}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endif %}
