{% if is_plus and not auth.user_has_access and auth.paywall_active != false %}
    {% include '@base/page/article/article-locked.twig' %}
{% elseif is_longread %}
    {% include '@base/page/article/article-longread.twig' %}
{% else %}
    {% include '@base/page/article/article-standard.twig' %}
{% endif %}