{#{% block article_video_ad %}{% include '@base/page/article/parts/body/article-content-video-ad.twig' %}{% endblock %}#}
{% if tags %}
    <div class="article__tags article__part">
        <div class="article__tags-container">
            <ul class="article__tags-list my-1">
                <li class="article__tags-label mr-1">{{ translate('Taggar:', '') }}</li>
                {% for tag in tags %}
                    {% if tag is not null and tag is not empty %}
                    <li class="article__tag">
                        <a class="article__tag-name ml-1" title="{{ tag.title }}" href="{{ tag.permalink }}"> {{ tag.name }}</a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}