.article__premium-content {
    &.is-app {
        &.app-ios {
            // hide subscribe info on locked articles and pages
            .rendered_board_widget:first-of-type {
                display: none;
            }

            .klarna-checkout__container {
                display: none;
            }
        }
    }
}