body.single-article {
    padding-bottom: 65px; // Reader list
}

.section-family {
    &.single-article {
        .article__image {
            max-width: 100%;
            width: auto !important;
            max-height: 300px;
        }
    }
}

.single-article {

    article {
        position: relative;
    }

    .related-article article{ margin-top: 20px; }

    .article__is-locked {
        // Don't present photographer if locked because we don't have the data
        .article__image-caption { display: none; }
    }

    .article__part {
        margin: $standard-margin 0;
    }

    .article__headline {
        color: #2f2f2d;
        font-size: 2rem;
        font-weight: 600;
        line-height: 2.5rem;
        letter-spacing: -0.125rem;
        margin-top: -4px;
    }

    .article__part--main {
        h2 {
            font-size: 1.25rem;
            font-weight: 600;
        }
    }

    .article__dateline {
        display: block;
        font-size: .75rem;
        //padding-bottom: 10px;
        overflow: auto;

        &--date {
            color: #8d8d81;
        }
    }

    .old-article-awareness {
        display: block;
        font-size: 1.125rem;
        line-height: 1.5rem;
        font-style: italic;
    }

    .article__top-media {}

    .article__body {
        @include clearfix;
        a {
            color: #309bee;
        }
    }

    .article__image {
        &-container {
            flex-wrap: wrap;

            float: left;
            width: auto;
            height: auto;
            position: relative;
            padding-top: 0;
            overflow: hidden;
            img {
                position: relative;
                top: auto;
                left: auto;
                width: 100%;
                height: auto;
                transform: none;
            }
        }

        &-caption {
            font-size: $font-size-sm;
            padding-top: 5px;
            font-style: italic;
            text-align: center;
            max-width: 780px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .article__video {
        &-container {
            position: relative;
            padding-bottom: 56.25%;
            padding-top: 22px;
            height: 0;

            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                max-width: 100%;
                height: 100%;
            }
        }
    }

    .article__tweet {
        &-container {
            overflow: hidden;
            text-align: center;

            .twitter-tweet {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    .article__facebook {
        &-container {}
    }

    .article__instagram {
        &-container {}
    }

    .article__soundcloud {
        &-container {}
    }

    .article__html-embed {
        iframe {
            width: 100%;
        }
    }

    .article__category-text {
        font-style: italic;
    }
}


@include media-breakpoint-up(md) {
    .single-article {

        .wrapper {
            overflow: visible; // show carousel arrows outside wrapper
        }

        .article__headline {
            font-size: $h1-font-size;
            line-height: 3.125rem;
        }
    }
}