{% if images and images is iterable %}
    {% for image in images %}
        <figure class="teaser__image-container img-container">
	        <img class="teaser__image" src="{{ image.url }}" alt=""/>
        </figure>
    {% endfor %}
{% endif %}