{% if leadin %}
    <div class="teaser__leadin">
        {% if leadin is iterable %}
            {% for paragraph in leadin %}
                {% if loop.first %}{% include "@base/teaser/partial/dateline.twig" %}{% endif %}
                {{ leadin }}
            {% endfor %}
        {% else %}
	        {% block dateline %}{% include "@base/teaser/partial/dateline.twig" %}{% endblock %}
            {{ leadin|raw }}
        {% endif %}
    </div>
{% endif %}