{% extends '@base/page/article/article-standard.twig' %}

{% block article_body_section %}
	<div class="text-center">
		{{ teaser|raw }}
		{#{{ headline|raw }}#}
		{#{{ date|raw }}#}
		{#{{ image|raw }}#}
	</div>
	<div class="article__premium-content{{ get_app_type() }}">
		{{ board_render(settings_parameter('locked_article_board_offer_id'))|raw }}
	</div>
{% endblock %}

{% block tags %}{% endblock %}
{% block byline %}{% endblock %}
{% block social_share %}{% endblock %}
{% block print %}{% endblock %}
{% block report_article %}{% endblock %}
{% block report_article_modal %}{% endblock %}