{% spaceless %}
	<article itemscope itemtype="http://schema.org/NewsArticle"
	         class="{{ render_classes(classes) }}"
	         id="article-{{ article.uuid }}"
	         data-section="{{ article.section }}"
	         data-keywords="{{ article.keywords|join(':') }}"
	         data-uuid="{{ article.uuid }}"
	         data-permalink="{{ article.permalink }}"
	         data-headline="{{ article.headline }}"
	         data-title="{{ article.title }}"
	>
		<div class="article__part--main col-12">
			<div class="row justify-content-md-center">
				<div class="col-12 col-md-9">

					{% block article_body_section %}
						<section class="article__body article__part">
							{% block headline %}
								<h1 class="article__body article__headline">
									{% if is_dev() %}
										<a style="color:inherit;" target="_blank" href="{{ settings_parameter('writer_url')|default('https://writer.tryout.infomaker.io/') }}/#{{ article.uuid }}">{{ article.headline }}</a>
									{% else %}
										{{ article.headline | raw }}
									{% endif %}
								</h1>
							{% endblock headline %}

							{% block leadin %}
								{% for part in article.leadin %}
									<span class="article__body article__leadin">{{ part.content | raw }}</span>
								{% endfor %}
							{% endblock leadin %}

							{% block article_body %}
								{% for part in article.body %}
									{{ part | raw }}
								{% endfor %}
							{% endblock article_body %}
						</section>
					{% endblock article_body_section %}

					{% block tags %}{% include '@base/page/article/parts/tags.twig' %}{% endblock tags %}
					{% block byline %}{% include '@base/page/article/parts/byline.twig' %}{% endblock byline %}
				</div>
			</div>
		</div>
	</article>

{% endspaceless %}