{% if text %}
<div class="article__{{ type }} article__part">
    <div class="article__{{ type }}-subject">{{ subject }}</div>
    <header class="article__{{ type }}-header">
        <h2 class="article__{{ type }}-headline">{{ title }}</h2>
    </header>
    <div class="article__{{ type }}-body">{{ text|raw }}</div>
</div>
{% endif %}