<div class="article__dateline article__part">
    <div class="article__dateline--date">
        {% if publish_date %}
            <span class="published">Publicerad {{ publish_date }}</span>
        {% endif %}
        {% if is_updated %}
            (<span class="updated">uppdaterad {{ update_date }}</span>)
        {% endif %}
    </div>
</div>
