<div class="article__facebook-container article__part">
    <div class="fb-post" data-href="{{ url }}" data-width="auto" data-show-text="true">
        <blockquote cite="{{ url }}" class="fb-xfbml-parse-ignore"></blockquote>
    </div>
</div>

<div id="fb-root"></div>
<script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/sv_SE/sdk.js#xfbml=1&version=v2.10";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>