<div class="article__{{ type }} article__part">
    <header class="article__{{ type }}-header">
        <h2 class="article__{{ type }}-headline">{{ title }}</h2>
    </header>
	<div class="article__{{ type }}-rating">
		{% for i in 1..5 %}
			{% if i <= rating %}
				{{ svg_icon('elk','icon-lg active') }}
			{% else %}
				{{ svg_icon('elk','icon-lg') }}
			{% endif %}
		{% endfor %}
	</div>
    <div class="article__{{ type }}-body">{{ text|raw }}</div>
</div>