<div class="article__tweet-container article__part">
    <blockquote class="twitter-tweet">
        <a href="{{ url }}">Twitter</a>
    </blockquote>
</div>

<script async src="https://platform.twitter.com/widgets.js"></script>