.teaser--breaking-black {
    background-color: black;

    .teaser__headline {
        color: white;
    }

    .teaser__leadin {
        color: white;

        & a {
            color: white;
        }
    }
}