.teaser--breaking {
    overflow: hidden;
    padding: 10px;
    margin-bottom: 10px;

    .teaser__headline {
        font-weight: 900;

        strong:after {
            content: "\A";
            white-space: pre;
        }
    }

    .teaser__leadin {
        font-weight: 400;
    }

    .teaser__link {
        position: relative;
    }

    .teaser__content-wrapper {
        @media(min-width: $eb-screen-sm-min) {
            float: right;
            width: 48%;
        }
    }

    .teaser__header {
        @media(min-width: $eb-screen-sm-min) {
            float: left;
            width: 50%;
        }
    }

    .img-container {
        margin-bottom: 0;
    }
}