.teaser {
	padding-bottom: 5px;

    .teaser__headline {
        strong {
            color: $red;
            font-size: 1.2em;
        }
    }

	.teaser__link {
		text-decoration: none;
	}

    .teaser__dateline {
        color: $red;
        display: inline-block;
        font-weight: 700;
        font-size: 0.95rem;
        text-transform: uppercase;
        margin-right: 5px;
    }
}

.teaser--standard {
    padding: 0 10px 0 10px;
    margin-bottom: 10px;

    .teaser__headline {
        font-weight: 600;
        font-size: 1.5rem;
    }
}

// loop sections and setup correct colors
@mixin make-standard($class-name, $bg-color, $text-color, $primary-color, $secondary-color, $headline-highlight-color) {
    .teaser__headline {
        color: $text-color;

		strong { color: $headline-highlight-color; }
	}

	.teaser__meta-section {
		color: darken($primary-color, 10%); // darken text to increase contrast
	}
}

@include media-breakpoint-up(md) {
	.teaser {
		margin: ($grid-gutter-width / 2) 0;
	}
}