.teaser--image_left {
    padding: 0 10px 5px 10px;
    margin-bottom: 10px;
    overflow: hidden;

    .teaser__headline {
        font-weight: 700;
        font-size: 1.5rem;
    }

    .teaser__leadin {
        font-weight: 400;
    }

    .teaser__link {
        position: relative;
    }

    .teaser__content-wrapper {
        position: relative;

        @media(min-width: $eb-screen-sm-min) {
            float: right;
            width: 65%;
        }
    }

    .teaser__header {
        @media(min-width: $eb-screen-sm-min) {
            float: left;
            width: 33%;
        }
    }
}