.teaser--list {
    border-bottom: none;
    padding: 0 10px 0 10px;
    min-height: 40px;

    .teaser__headline {
        font-weight: 900;
        font-size: 1.3rem;

        @media(min-width: $eb-screen-sm-min) {
            font-size: 1.6rem;
        }

        &:before {
            content: '';
            border: solid 5px $red;
            float: left;
            margin-right: 8px;
            position: relative;
            top: 8px;
            @media(min-width: $eb-screen-sm-min) {
                border: solid 6px $red;
                top: 11px;
                margin-right: 12px;
            }
        }
    }
}