
/* Background utilities */

// section bg colors
@each $section, $bg-color, $text-color, $primary-color in $sections {
    .bg-#{$section} {
        background-color: lighten($primary-color, 40%);
    }
}