/* wrapper */

.wrapper {
    width: $site-center-width;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.wrapper-no-overflow {
    width: $site-center-width;
    max-width: 100%;
    margin: 0 auto;
}